<%= form_tag slack_webhooks_path, remote: true do %>

  <label>User id
    <%= text_field_tag :user_id, 1 %>
  </label>

  <label>Team id
    <%= text_field_tag :team_id, 1 %>
  </label>
  <fieldset>
    <legend>Play...</legend>
    <label>
      <%= radio_button_tag :text, 'play https://www.youtube.com/watch?v=mmi60Bd4jSs' %>
      Daft Punk Da Funk
    </label>

    <label>
      <%= radio_button_tag :text, 'play https://www.youtube.com/watch?v=UclCCFNG9q4' %>
      Gorillaz Clint Eastwood
    </label>

    <label>
      <%= radio_button_tag :text, 'play https://www.youtube.com/watch?v=pbTNZN6m0HM' %>
      Moloko Sing It Back
    </label>

  </fieldset>


  <fieldset>
    <legend>Find...</legend>
    <label>
      <%= radio_button_tag :text, 'find michael jackson thriller' %>
      MJ Thriller
    </label>

    <label>
      <%= radio_button_tag :text, 'find moby go' %>
      Moby Go
    </label>

    <label>
      <%= radio_button_tag :text, 'find deelite groove is in the heart' %>
      Deelite Groove Is In The Heart
    </label>

  </fieldset>

  <fieldset>
    <legend>Skip</legend>
    <%= radio_button_tag :text, 'skip' %>
  </fieldset>

  <fieldset>
    <legend>Help</legend>
    <%= radio_button_tag :text, 'help' %>
  </fieldset>

  <%= submit_tag 'post' %>
<% end %>